/*----------*/
/*Generic reset styling*/
/*----------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}

/*----------*/
/*Header Styling*/
/*----------*/

header{
  width: 100%;
  height: 100px;
  z-index: 100;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 25px;
}

.header-logo{
  width: 50px;
  height: 80px;
  position: relative;
  float: left;
  line-height: 80px;
}

.header-logo img{
  width: inherit;
  display: inline-text;
  filter: invert(100%);
}

.header-phone-number{
  width: 100px;
  height: 80px;
  z-index: 20;
  position: relative;
  float: right;
  line-height: 80px;
  font-size: 12px;
  text-align: right;
}

/*----------*/
/*Menu Styling*/
/*----------*/

.header-menu-button{
  width: 100px;
  height: 80px;
  z-index: 20;
  position: relative;
  float: right;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #00C389;
  line-height: 30px;
  font-size: 13px;
  text-align: right;
  text-transform: uppercase;
  cursor: pointer;
}

.hamburger-outer{
  width: 30px;
  height: 30px;
  position: relative;
  float: right;
  margin-left: 8px;
}

.hamburger-line{
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  background: #00C389;
  border-radius: 2.5px;
}

.top-line{top: 2px;}
.middle-line{top: 12px;}
.bottom-line{top: 22px;}

.fade-outer{
  width: 100%;
  height: 100vh;
  z-index: 14;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(195, 195, 185, 0.9);
}

.menu-container{
  width: 25%;
  height: 70vh;
  z-index: 15;
  position: absolute;
  top: 0;
  right: 0;
  background: #393D58;
}

/*----------*/
/*Home Page Styling*/
/*----------*/

.home-container{
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: block;
  position: relative;
  float: left;
}

.back-tx{
  width: 60%;
  height: 100vh;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.front-xd{
  width: 60%;
  height: 100vh;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.hero-container{
  width: 45%;
  height: 150px;
  z-index: 4;
  display: block;
  position: absolute;
  top: 45%;
  left: 40%;
  background: #393D58;
}

.hero-container .hero-text{
  width: calc(100% - 150px);
  height: 150px;
  display: block;
  position: relative;
  float: left;
  padding: 25px;
}

.hero-text h1{
  color: #fff;
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
}

.hero-container .rotate-container{
  width: 150px;
  height: 150px;
  display: block;
  position: relative;
  float: right;
}

.scroll-down-container{
  width: 150px;
  height: 150px;
  z-index: 5;
  position: absolute;
}

.scroll-down-container span{
  height: 120px;
  position: absolute;
  top: 15px;
  left: 75px;
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  font-size: 10px;
  transform-origin: center center;
}

span.char1{transform: rotate(0deg);}
span.char2{transform: rotate(6deg);}
span.char3{transform: rotate(12deg);}
span.char4{transform: rotate(18deg);}
span.char5{transform: rotate(24deg);}
span.char6{transform: rotate(30deg);}
span.char7{transform: rotate(36deg);}
span.char8{transform: rotate(42deg);}
span.char9{transform: rotate(48deg);}
span.char10{transform: rotate(54deg);}
span.char11{transform: rotate(60deg);}

.rotate-container .rotate-border{
  width: 90px;
  height: 90px;
  z-index: 10;
  display: block;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #00C389;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  cursor: pointer;
}

.rotate-arrow.rotate-arrow{
  width: calc(100% - 5px);
  height: 80px;
  position: absolute;
  top: 0;
  right: 1.5px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
}

/*----------*/
/*Product Section Styling*/
/*----------*/

.products{
  width: 100%;
  height: 80vh;
  position: relative;
  float: left;
  background: #393D58;
}

.prod-nav-container{
  width: 15%;
  height: inherit;
  z-index: 20;
  position: relative;
  float: left;
  background: #393D58;
}

.prod-nav-items{
  width: 150px;
  height: auto;
  position: absolute;
  top: calc((80vh - 600px) / 2);
  right: 0;
  margin-right: 10px;
}

.prod-nav-item{
  width: inherit;
  height: 150px;
  position: relative;
  float: left;
  padding-top: 40px;
  font-size: 25px;
  text-align: center;
  color: #fff;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.prod-selected{
  color: #00C389;
}

.prod-nav-item .prod-icon{
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.prod-nav-bar{
  width: 5px;
  height: inherit;
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgb(37, 41, 68);
}

.prod-nav-current{
  width: 5px;
  height: 150px;
  position: relative;
  top: calc((80vh - 600px) / 2);
  background: #00C389;
}

.prod-info-container{
  width: 45%;
  height: inherit;
  z-index: 20;
  position: relative;
  float: left;
  overflow-y: hidden;
  background: #393D58;
}

.prod-shift-div{
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.prod-info{
  width: 90%;
  height: 80vh;
  display: block;
  position: relative;
  float: left;
  color: #ffffff;
}

.prod-info h3{
  position: absolute;
  top: 15vh;
  left: 10%;
  font-size: 30px;
}

.prod-info a .prod-link-outer{
  width: 150px;
  height: 30px;
  z-index: 10;
  position: absolute;
  top: calc(15vh + 6px);
  right: 0px;
  float: right;
  border: 1px solid #00C389;
  color: #00C389;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  cursor: pointer;
}

.prod-info p{
  position: absolute;
  top: 23vh;
  left: 10%;
  font-size: 20px;
}

.prod-images-container{
  width: 40%;
  height: 80vh;
  display: block;
  position: relative;
  float: left;
}

.prod-image-shift-div{
  width: 100%;
  height: 80vh;
  display: block;
  position: absolute;
  left: ;
  top: 0;
}

.prod-image-group{
  width: 400%;
  height: 80vh;
  position: relative;
  float: left;
  left: -300%;
}

.prod-image{
  width: 25%;
  height: 80vh;
  display: block;
  position: relative;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mobile-image{
  background-image: url('http://absfreepic.com/absolutely_free_photos/small_photos/apple-products-on-desk-4133x2745_30015.jpg');
}

.campaigns-image{
  background-image: url('http://i.kinja-img.com/gawker-media/image/upload/t_original/vpjp7oqa2d1ago6fnd2s.jpg');
}

.loyalty-image{
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/8d/0d/93/8d0d93f9ecd300790220b69ae8fc4c29.jpg');
}

.scv-image{
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/67/c5/73/67c573a2a25963c76e7a70de5be23d35.jpg');
}

/*----------*/
/*Why Section styling*/
/*----------*/

.why-txd{
  width: 100%;
  height: 100vh;
  position: relative;
  float: left;
  z-index: 1;
  background: #C3C3B9;
}

.why-title{
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.1);
  font-size: 200px;
  font-weight: bold;
  text-align: center;
  line-height: 100vh;
}

.why-container{
  width: 60%;
  height: 60vh;
  z-index: 3;
  display: block;
  position: relative;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
}

.why-button-container{
  width: 10%;
  height: 60vh;
  display: block;
  position: relative;
  float: left;
  color: #393D58;
  font-size: 200px;
  font-weight: 100;
  text-align: center;
  line-height: 60vh;
  transition: all 0.5s ease-in-out;
}

.why-button-container:hover{
  color: #00c389;
  cursor: pointer;
}

.why-selection-container{
  width: 80%;
  height: 60vh;
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
}

.why-shift-div{
  width: 400%;
  height: 60vh;
  display: block;
  position: absolute;
  top: 0;
  left: 0%;
}

.why-group{
  width: 25%;
  height: 60vh;
  display: block;
  position: relative;
  float: left;
}

.why-image{
  width: 70%;
  height: 40vh;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: blue;
}

.why-text{
  width: 100%;
  height: 20vh;
  display: block;
  position: relative;
  color: #393D58;
  text-align: center;
}

.why-text h4{
  width: 70%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: 400;
}

.why-text p{
  width: 70%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 400;
}
