

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

header{
  width: 100%;

}

.front-page{
  width: 100%;
  height: 100vh;
  position: relative;
  background: white;
}

.background{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.homeBack-1{
  z-index: 2;
}

.homeBack-2{
  z-index: 3;
}

.hero-statement-container{
  width: 40%;
  min-height: 50px;
  z-index: 4;
  position: absolute;
  background: ;
}

.hero-statement-container h1{
  color: white;
}

.products{
  width: 100%;
  height: 80vh;
  position: relative;
  background: #393D58;
}

.prod-nav-container{
  width: 20%;
  height: inherit;
  position: relative;
  float: left;
}

.prod-nav-items{
  width: 150px;
  height: auto;
  position: absolute;
  top: calc((80vh - 600px) / 2);
  right: 0;
  margin-right: 10px;
}

.prod-nav-item{
  width: inherit;
  height: 150px;
  position: relative;
  float: left;
  padding-top: 40px;
  font-size: 25px;
  text-align: center;
  color: #fff;
  line-height: 50px;
}

.prod-nav-item .prod-icon{
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.prod-nav-bar{
  width: 5px;
  height: inherit;
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgb(37, 41, 68);
}

.prod-nav-current{
  width: 5px;
  height: 150px;
  position: relative;
  top: calc((80vh - 600px) / 2);
  background: #00C389;
}

/* Icon pack */
@font-face {
	font-family: 'Glyphter';
	src: url('../media/fonts/Glyphter.eot');
	src: url('../media/fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
	     url('../media/fonts/Glyphter.woff') format('woff'),
	     url('../media/fonts/Glyphter.ttf') format('truetype'),
	     url('../media/fonts/Glyphter.svg#Glyphter') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class*='prod-icon']:before {
	display: inline-block;
	font-family: 'Glyphter';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size: 50px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
#prod-campaigns-icon:before{content:'\0042';}
#prod-loyalty-icon:before{content:'\0043';}
#prod-mobile-icon:before{content:'\0044';}
#prod-scv-icon:before{content:'\0045';}

.clients{
  width: 100%;
  height: 100vh;
  position: relative;
  background: white;
}
