@import url("header.css");
@import url("menu.css");
@import url("home.css");
@import url("home_products.css");
@import url("home_why.css");
@import url("home_clients.css");
@import url("footer.css");

/*----------*/
/*Generic reset styling*/
/*----------*/

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.clearfix {
  clear: both;
}

html, body{
  font-family: 'Dosis', sans-serif;
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;
  /* older spec implementation */
  -webkit-scroll-snap-destination: 100vh 0%;
      -ms-scroll-snap-destination: 100vh 0%;
          scroll-snap-destination: 100vh 0%;
  -webkit-scroll-snap-points-y: repeat(100vh);
      -ms-scroll-snap-points-y: repeat(100vh);
          scroll-snap-points-y: repeat(100vh);
}
