<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Part of the Family</title>
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div class="footer">
	<div class="zonal-family-panel">
		<div class="inner">
			<img class="zonal-logo" src="http://img2.email2inbox.co.uk/2017/txd/zonal-logo.png" alt="Zonal Retail Data Systems" />
			<div class="copy">
				<p>For over 37 years, Zonal have helped hospitality companies achieve their business goals – large or small, pub, bar, restaurant, hotel or leisure venue. Zonal deliver world-class solutions, built around individual customer needs.</p>
				<p><a href="http://www.zonal.co.uk">Visit the Zonal Website</a></p>
			</div>
		</div>
	</div>
	<button type="button" class="zonal-family-button">Part of the Zonal Family</button>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
