<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div class="overlay"></div>
<div class="menu">
	<div class="burger closed">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="inner">
		<div class="menu-content">
			<a href="#">
				Case Studies
				<span>Discover our work</span>
			</a>
			<a href="#">
				Blog
				<span>Read all about it</span>
			</a>
			<a href="#">
				About TXD
				<span>What we're all about</span>
			</a>
			<a href="#" class="message-us">
				Message Us
				<span>Talk to us today</span>
			</a>
		</div>
	</div>
	<div class="contact-form">
		<div class="form-wrapper">
			<div class="title">
				Just fill out the short form...
				<p class="error-message">Testing the error message</p>
			</div>
			<form id="enquiry_form">
				<label for="title">Title:</label>
				<select id="title" name="title">
				<option val="mr">Mr.</option>
				<option val="mrs">Mrs.</option>
				<option val="miss">Miss.</option>
			</select>
				<label for="name">Name:</label>
				<input id="name" class="hasSelect" type="text" name="name" placeholder="Name">
				<label for="email">Email Address:</label>
				<input id="email" type="text" name="email" placeholder="Email Address">
				<input id="safety" type="text" name="safety" placeholder="Please dont fill this out" style="display: none;opacity: 0;">
				<label for="enquiry">Your Enquiry</label>
				<textarea id="enquiry" name="enquiry" placeholder="Your enquiry"></textarea>
				<div class="cta-panel">
					<button type="button" class="cancel-form">CANCEL</button>
					<button type="button" class="send-message">SEND MESSAGE</button>
				</div>
			</form>
		</div>
	</div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
